body {
    margin: 0;
}

.hero {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    overflow: none;
    overflow-y: hidden;
    position: relative;
}

.movie {
    width: 25%;
    position: relative;
    height: 100vh;
}

.movie:hover {
    width: 30%;
    transition: ease-in-out .3s;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/3;
    filter: grayscale(90%) brightness(30%);
}

.movie img:hover {
    filter: grayscale(0%) brightness(100%);
    transition: ease-in-out .5s;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sofia+Sans&display=swap');

.hero p {
    position: absolute;
    font-family: 'Sofia Sans', sans-serif;
    top: 5%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    gap: 5px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero p span {
    color: yellow;
    font-size: 30px;
}

.movinfo {
    position: absolute;
    bottom: 5%;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

.movinfo h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 200;
}

.movie h1 span {
    color: yellow;
}

.movie h1 {
    position: absolute;
    transform: rotate(270deg);

    right: -90px;
    bottom: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transform-origin: left;
}

.movie:nth-child(2) h1 {
    right: -155px;
}

.movie:nth-child(3) h1 {
    right: -120px;
}

.movie:nth-child(4) h1 {
    right: -180px;
}